@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@mixin main-font {
    font-family: 'Anton', serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1cap;
}