@use '../../mixins/mixin-font.scss' as *;

@media (min-width: 1024px) {
    .instructions-container {
        @include main-font;
        width: auto;
        margin: 0 auto 50px auto;

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 2.5rem;
            margin-top: 0;
            position: relative;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 101%;
                height: 2px;
                background-color: currentColor;
                position: absolute;
                bottom: 10px;
                top: 110%;
                transform: translateY(-50%);
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }

        .seperation-line {
            width: 2px;
            height: 500px;
            background: linear-gradient(to bottom, rgba(118, 118, 118, 0), rgb(255, 255, 255) 0, rgb(255, 255, 255) 60%, rgba(118, 118, 118, 0));
            margin-top: 65px;
        }

        .instructions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            .movement-instructions {
                width: 50%;

                .keys-instructions {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;

                    .keys-container {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: column;

                        .keys-container {
                            display: flex;
                            flex-direction: row-reverse;
                            gap: 30px;
                            justify-content: center;
                            width: auto;
                    
                            img {
                                width: auto;
                                height: 100px;
                            }

                            p {
                                text-align: right;
                            }
                        }
                    
                        .instructions-1 {
                            font-size: 1.5rem;
                            margin: 1rem 0;
                        }
                    }
                    
                }

                .phone-instructions {
                    margin-top: 0;
                    width: 90%;
                    margin: 0 auto;

                    .phone-images {

                        .phone-swipe-image {
                            width: 80px;
                            height: auto;
                        }

                        .phone-buttons-image {
                            width: 170px;
                            height: auto;
                        }
                    }
                }
            }

            .points-instructions {
                width: 50%;
                font-size: 1.5rem;

                ul {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    margin: 0;
                    align-items: center;
                    width: 90%;
                    margin: 0 auto;

                    .apple-container {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;
                        width: 90%;
                        margin: 0 auto;

                        p {
                            margin: 0;
                            height: auto;
                            width: 100%;
                            text-align: left;
                        }

                        .apple-image {
                            width: auto;
                            height: 70px;
                        }
                    }
                }

                .score-saved {
                    margin-top: 50px;
                }
            }
        }

        button {
            font-size: 1.5rem;
        }
    }
}