.header-with-back-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;

    .back-button {
        margin: 0 0 0 20px;
        font-size: 1rem;

        button {
            margin: 0;
        }
    }

    .user-logout {
        display: flex;
        flex-direction: row;
        margin: 10px 20px 0 0;
        align-items: center;

        .user-info {
            margin: 0 10px 0 0;
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            justify-content: space-between;

            .user-country {
                height: 15px;
                width: auto;
                margin-left: 5px;
            }
        }

        .logout-button {
            font-size: 1rem;
        }
    }

    .jungle-1 {
        position: absolute;
        top: 0;
        right: 40px;
        z-index: -1;
        height: 150px;
    }

    .jungle-2 {
        position: absolute;
        top: 0;
        left: -100px;
        z-index: -1;
        height: 200px;
    }

    .jungle-3 {
        position: absolute;
        top: 0;
        right: -20px;
        height: 230px;
        z-index: -1;
    }

    .jungle-4 {
        position: absolute;
        top: -40px;
        left: 20px;
        height: 130px;
        transform: rotateY(180deg);
        z-index: -1;
    }

}

.header-without-back-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

    .user-logout {
        display: flex;
        flex-direction: row;
        margin: 20px 20px 0 0;
        align-items: center;

        .user-info {
            margin: 0 20px 0 0;
            display: flex;
            width: auto;
            font-size: 1.5rem;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .user-country {
                height: 25px;
                width: auto;
                margin: 0 0 0 5px;
            }
        }
    }

    .jungle-1 {
        position: absolute;
        top: 0;
        right: 450px;
        z-index: -1;
    }

    .jungle-2 {
        position: absolute;
        top: 0;
        left: -20px;
        z-index: -1;
    }

    .jungle-3 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .jungle-4 {
        position: absolute;
        top: -40px;
        left: 500px;
        height: 150px;
        transform: rotateY(180deg);
        z-index: -1;
    }
}