.create-user-container {
    
    .create-user-form {
        display: flex;
        flex-direction: column;
    }

    p {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #FFA500;
        }
    }
    
}



