@use './pages/login/login.scss' as *;
@use './pages/create-user/create-user.scss' as *;
@use './pages/game/game.scss' as *;
@use './pages/start/start.scss' as *;
@use './pages/leaderboard/leaderboard.scss' as *;
@use './pages/result/result.scss' as *;
@use './pages/start-game/start-game.scss' as *;
@use './pages/privacy-policy/privacy-policy.scss' as *;

@use './components/header/header.scss' as *;
@use './components/footer/footer.scss' as *;
@use './components/loading/loading.scss' as *;
@use './components/play-buttons/play-buttons.scss' as *;
@use './components/jungle/jungle.scss' as *;
@use './components/flying-birds/flying-birds.scss' as *;
@use './components/language/language.scss' as *;

html {
    height: 100%;
}

#root {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}